p{
    color: blue;
    text-decoration: underline;
    text-align: center;
}

form{
    display: flexbox;
    flex-direction: column;
    background-color: rgb(189, 176, 176);
}login-container {
  
    display: flex;
    padding: 20px;
}

.login-form {
    display: flexbox;
}

.login-form label {
    margin-bottom: 5px;
}

.login-form input {
    margin-bottom: 15px;
    padding: 0%;
}

.login-form button {
    padding:0%;
    background-color: rgb(32, 179, 98);
    color: white;
    border: none;
    cursor: pointer;
}

.login-form button:hover {
    background-color: darkorange;
}
body{
    background-color: rgb(218, 174, 118);
}

form {
    border: 3px solid #f1f1f1;
  }
  

  input[type=text], input[type=password] {
    width: 100%;
    padding: 5px 5px;
    margin: 8px 0;
    display: inline-block;
    border: solid;
    box-sizing: content-box;
  }
  
  button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  

  button:hover {
    opacity: 0.8;
  }
  

  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }
  
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
  }
  
  
  .container {
    padding: 16px;
  }
  
  span.psw {
    float: right;
    padding-top: 16px;
      display: block;
      float: none;
    }
    .cancelbtn {
      width: 100%;
    }
input{
    text-align: center;
}
label{
  text-align: center;
}
body{
  text-align: center;
}